body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0a0e1a;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
}

.subtitulo {
  color: #5df2d7ad;
  margin: 0 0 40px 0;
  text-align: center;
  letter-spacing: 2px;
}

.recover-box {
  background-color: #131c25;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

.recover-box h3 {
  margin-bottom: 25px;
  font-size: 1.4rem;
  font-weight: 500;
}

.recover-box input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 40px;
  border: none;
  background-color: #0f131a;
  color: #fff;
  font-size: 1rem;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}

.btn-send {
  margin-right: 9px;
  padding: 12px 30px;
  border: none;
  background-color: #4de1c3bb;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-send:hover {
  background-color: #5df2eb0c;
  color: #5df2d6;
}

.btn-back {
  margin-left: 9px;
  padding: 12px 30px;
  border: none;
  text-decoration: none;
  background-color: #3c536b23;
  color: #ffffff;

  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.btn-back:hover {
  background-color: #3c536b50;
  color: #5df2d6;
}
