.btn-confirmation,
.dev-btn {
  background-color: #4de1c3bb;
  color: white;
}

.btn-confirmation:hover,
.dev-btn:hover,
.dev-btn:focus {
  background-color: #5df2eb0c;
  color: #5df2d6;
}

.btn-cancel,
.btn-back {
  background-color: #3c536b23;
  color: #ffffff;
}

.btn-cancel:hover,
.btn-back:hover,
.btn-back:focus {
  background-color: #3c536b50;
  color: #5df2d6;
}
