body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0a0e1a;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
}

.subtitulo {
  color: #5df2d7ad;
  margin: 0 0 40px 0;
  text-align: center;
  letter-spacing: 2px;
}

.login-box {
  background-color: #131c25;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  max-width: 400px;
}

.login-box h3 {
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.login-box input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 40px;
  border: none;
  background-color: #0f131a;
  font-size: 1rem;
  text-align: center;
}

.btn-acessar {
  padding: 12px 30px;
  border: none;
  background-color: #4de1c3bb;
  color: white;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 40px;
  transition: 0.3s;
}

.btn-acessar:hover {
  background-color: #5df2eb0c;
  color: #5df2d6;
}

.recover-password {
  text-align: end;
  display: block;
  margin-top: 12px;
  font-size: 0.6rem;
  color: #5df2d6;
  text-decoration: none;
  letter-spacing: 1px;
}

.recover-password:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
}

.noRegister-box {
  background-color: #131c25;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  max-width: 420px;
  margin-top: 20px;
  border: 2px solid #4de1c350;
}

.noRegister-box h3 {
  padding-bottom: 40px;
  margin: 0 0 10px 0;
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
}

.btn-click-here {
  padding: 10px 20px;
  background-color: #4de1c3bb;
  color: white;
  font-weight: normal;
  cursor: pointer;
  border-radius: 40px;
  text-decoration: none;
}
.btn-click-here:hover {
  background-color: #5df2eb0c;
  color: #5df2d6;
}

/* Imagem de cadastro (lado direito) */
/* .imagem-cadastro {
    max-width: 40%; 
    height: auto;
    margin-left: 10px;
} */
